/* grocerylist.css */


/* Layout and styling for the grocery list form */

.container {
    margin-top: 30px;
}

.grocery-heading {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.day {
    margin-bottom: 30px;
}

.meal-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-field {
    width: 30%;
}

button.btn.pink {
    background-color: #e91e63;
    color: white;
    width: 100%;
    text-align: center;
}


/* Center button with spacing from the footer */

.centered-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


/* Fixing header overlap issue */

body {
    padding-top: 90px;
    /* Prevent header from going over the content */
}


/* Add some spacing at the bottom */

footer {
    margin-top: 40px;
}